.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #231f20;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: #231f20;
  color: white;
}
.display-drop {
  display: inline !important;
}

.apexcharts-toolbar {
  max-width: 300px !important;
  top: -20px !important;
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
  width: 50px !important;
  height: 50px !important;
  line-height: 24px;
  color: #8d147d !important;
  text-align: center;
}

.apexcharts-zoom-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-zoomin-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-zoomout-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-pan-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-reset-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-selection-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-menu-icon svg {
  width: 50px !important;
  height: 50px !important;
}
.apexcharts-toolbar-custom-icon svg {
  width: 50px !important;
  height: 50px !important;
}

#SvgjsSvg1899 {
  fill: rgb(182, 15, 15);
}
